body {
    background: #fbfbfb;
}

.header {
    border-bottom: 2px solid #1442234;
}

.main {
    margin-top: 10px;
    margin-bottom: 10px;
}

.home_left {
    width: 30%;
    float: left;
}

.home_right {
    width: 68%;
    float: right;
}

.content {
    box-shadow: 0 0 3px #ccc;
    padding: 5px 10px 20px;
    background: #fff;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    min-height: 350px;
}

ul {
    list-style-type: none;
    padding-left: 7px;
}

a {
    color: #116ab1;
    text-decoration: none;
}

.step {
    font-weight: bold;
}

.footer {
    background: #000000;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
}

.footer a {
    margin: auto;
    color: #ffffff;
}

@media only screen and (max-width: 1000px) {
    .container {
        max-width: 100%;
		padding-left: 0;
		padding-right: 0;
    }

    img {
        max-width: 98%;
        height: auto;
        margin: auto;
    }

    .home_left {
        display: none;
    }

    .home_right {
        width: 100%;
    }
}