/*parallax ads */
.parallax-article {width: 100%;}
.paralax-ad {
    height: 600px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.paralax-ad .inner-paralax-ad {
    clip: rect(auto, auto, auto, auto);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.paralax-ad .img-paralax-ad {
    height: 100%;
    margin: 12px auto 0 auto;
    position: fixed;
    top: 0px;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    width: 100%;
    text-align: center;
}
.img-paralax-ad img {
    border: medium none;
    height: 100%;
    width: 100%;
}
.paralax-ad .link-paralax-artikel {
    background-color: white;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}
.paralax-ad .label-ad{
  background-color: #fff;
    top: 0;
    color: #767676;
    font-family: Arial,sans-serif;
    font-size: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
/*kanal-read*/
.read__content .paralax-artikel--kanal .img-paralax-ad{
    width: 100%;
}
.paralax-artikel--kanal .img-paralax-ad img {
    border: medium none;
    height: auto;
    width: 100%;
}
/*end read*/