#uksw .footer-nav-area {background: #ffc107 /*linear-gradient(to right, #00437c, #b7212c); border-top: 1px solid #571419*/;}
#uksw .spos-footer-nav ul li a {color: #00437c;}
#uksw .blog-description a {color: #b7212c !important; }
#uksw .btn-primary, #uksw .bg-primary, #uksw .badge-primary {background: #ffc107 !important; border-color: #ffc107; color:#00437c;/*linear-gradient(to right, #00437c, #b7212c) !important;*/}
#uksw .spos-title {color:#00437c; border-bottom: 1px solid #b7212c;}
#uksw .single-hero-slide::after {background:#ffc107;/*background: linear-gradient(to right, #00437c, #b7212c);*/}
#uksw .single-hero-slide .post-title {color: #00437c; line-height: 25px;}
#uksw .single-hero-slide .post-meta a {color:#b7212c; }