@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
  background: #1b1d20;
  margin:0;
}
h1 { margin-top: 150px; text-align: center; color: #fff; }
.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.slide-items {
  position: relative;
  grid-area: 1/1;
  border-radius: 5px;
  overflow: hidden;
  height: 100vh;
}

.slide-items > .active img {
  object-fit: cover; 
  object-position: top center;
  height: 100vh;
  width: 100%;
}

.caption {
  list-style: none;
  position: absolute; 
  z-index: 99; 
  bottom: 60px;
  margin: 10px;
  padding: 5px 12px;
  box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-family: Poppins;
  text-align: center;
  background: rgb(0 16 45 / 85%)
}

  .caption a {
    font-size: 19px;
    line-height: 23px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
  }

.slide-nav {
  grid-area: 1/1;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.slide-nav button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.slide-items > * {
  position: absolute;
  top: 0px;
  opacity: 0;
  pointer-events: none;
  height: 100vh;
}

.slide-items > .active {
  position: relative;
  opacity: 1;
  pointer-events: initial;
}

.slide-thumb {
  display: flex;
  grid-column: 1 / 3;
}

.slide-thumb > span {
  flex: 1;
  display: block;
  height: 3px;
  background: rgba(0, 0, 0, 0.4);
  margin: 5px;
  border-radius: 3px;
  overflow: hidden;
}

.slide-thumb > span.active::after {
  content: '';
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  transform: translateX(-100%);
  animation: thumb 5s forwards linear;
}

@keyframes thumb {
  to {
    transform: initial;
  }
}