/* Import Fonts & All CSS Files */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Merriweather:ital,wght@0,300;0,900;1,700');
@import url(css/animate.css);
@import url(css/owl.carousel.min.css);
@import url(css/jquery.animatedheadline.css);
@import url(css/default/apexcharts.css);
/* :: 6.1.0 Reboot */
* {
  margin: 0;
  padding: 0; }

body,
html {
  font-family: "Poppins", sans-serif;
  color: #797494;
  overflow-x: hidden;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #020b10;
  line-height: 1.4; }

p {
  color: #020b10;
  font-size: 14px;
  line-height: 1.7; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  box-shadow: none;
  color: #0c153b;}

.btn:focus {
  box-shadow: none; }

ul {
  margin: 0; }
  ul li {
    list-style: none;
    text-decoration: none; }
    ul li:hover, ul li:focus {
      list-style: none;
      text-decoration: none; }

ol {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

/* Section Padding */
.section-padding-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.section-padding-0-30 {
  padding-top: 0;
  padding-bottom: 30px; }

.section-padding-30-0 {
  padding-top: 30px;
  padding-bottom: 0; }

.section-padding-30-14 {
  padding-top: 30px;
  padding-bottom: 14px; }

/* Scrollup */
#scrollUp {
  bottom: 30px;
  font-size: 16px;
  right: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 6px;
  background-color: #020b10; }
  #scrollUp:hover, #scrollUp:focus {
    background-color: #00437c; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

input:required,
textarea:required {
  box-shadow: none !important; }

input:invalid,
textarea:invalid {
  box-shadow: none !important; }

.no-boxshadow {
  box-shadow: none !important; }

.badge {
  font-weight: 500; }

/* :: 6.2.0 Shortcodes */
.h-100vh {
  height: 100vh !important; }

.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.bg-fixed {
  background-attachment: fixed; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    background: #00437c;
    background: -webkit-linear-gradient(to left, #00437c, #0862fb);
    background: linear-gradient(to left, #00437c, #0862fb);
    opacity: 0.85;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }

.bg-gray {
  background-color: #dcebfd !important; }

.btn,
.btn:hover,
.btn:focus {
  font-weight: 500;
  box-shadow: none; }

.btn {
  padding: .375rem 1rem;
  font-size: 0.85rem; }

.btn-group-lg > .btn,
.btn-lg {
  padding: .75rem 1.25rem;
  font-size: 1rem; }

.btn-group-sm > .btn,
.btn-sm {
  padding: .25rem .75rem;
  font-size: .75rem; }

.btn-tags {
  color: #fff;
  background-color: rgb(0 0 0 / 50%); }
  .btn-tags:hover, .btn-tags:focus {
    color: #ffffff;
    background-color: #495057; }

.btn-warning {
  color: #020b10;
  background-color: #05a0f1;
  border-color: #05a0f1; }
  .btn-warning:hover, .btn-warning:focus {
    color: #ffffff;
    background-color: #020b10;
    border-color: #020b10; }

.btn-danger {
  background-color: #ea4c62;
  border-color: #ea4c62; }
  .btn-danger:hover, .btn-danger:focus {
    background-color: #020b10;
    border-color: #020b10; }

.btn-primary {
  background-color: #00437c;
  border-color: #00437c; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #020b10;
    border-color: #020b10; }

.btn-success {
  background-color: #00b894;
  border-color: #00b894; }
  .btn-success:hover, .btn-success:focus {
    background-color: #020b10;
    border-color: #020b10; }

.btn-info {
  background-color: #21d6f1;
  border-color: #21d6f1; }
  .btn-info:hover, .btn-info:focus {
    background-color: #020b10;
    border-color: #020b10; }

.bg-primary,
.badge-primary {
  background-color: #00437c !important; }

.bg-danger,
.badge-danger {
  background-color: #ea4c62 !important; }

.bg-warning,
.badge-warning {
  background-color: #05a0f1 !important; }

.bg-info,
.badge-info {
  background-color: #21d6f1 !important; }

.bg-success,
.badge-success {
  background-color: #00b894 !important; }

.text-dark {
  color: #020b10 !important; }

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem; }
  .section-heading h6 {
    margin-bottom: 0;
    color: #797494; }
  .section-heading p {
    margin-bottom: 0; }

.card {
  border-color: #e6e6e6;
  border-radius: 0.5rem; }
  .card .card-body {
    padding: 0.75rem; }
  .card .card-body a {font-weight: 600;}

.card-img-top {
  border-top-left-radius: calc(.5rem - 1px);
  border-top-right-radius: calc(.5rem - 1px); }

.card-img-bottom {
  border-bottom-left-radius: calc(.5rem - 1px);
  border-bottom-right-radius: calc(.5rem - 1px); }

.border,
.border-left,
.border-right,
.border-bottom,
.border-top {
  border-color: #e6e6e6 !important; }

.mfp-iframe-holder .mfp-content {
  max-width: 1100px; }

.row {
  margin-right: -8px;
  margin-left: -8px; }

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 8px;
  padding-left: 8px; }

.progress {
  height: 0.75rem; }

/* :: 6.3.0 Preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #dcebfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

/* :: 6.4.0 Demo */
.preview-hero-area {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 70px;
  background-color: #dcebfd; }
  .preview-hero-area .preview-content-wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 70px; }
    .preview-hero-area .preview-content-wrapper .current-version {
      padding: 0.25rem 1rem;
      border-radius: 1rem;
      background-color: #020b10;
      color: #ffffff;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 0.5px; }
    .preview-hero-area .preview-content-wrapper .demo-title {
      font-size: 2.375rem;
      margin-bottom: 1rem;
      font-weight: 700; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .preview-hero-area .preview-content-wrapper .demo-title {
          font-size: 2rem; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .preview-hero-area .preview-content-wrapper .demo-title {
          font-size: 2.25rem; } }
      @media only screen and (max-width: 767px) {
        .preview-hero-area .preview-content-wrapper .demo-title {
          font-size: 1.5rem; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .preview-hero-area .preview-content-wrapper .demo-title {
          font-size: 2rem; } }
      .preview-hero-area .preview-content-wrapper .demo-title span {
        color: #00437c; }
    .preview-hero-area .preview-content-wrapper .demo-desc {
      font-size: 18px; }
  .preview-hero-area iframe {
    width: 385px;
    height: 822px;
    border: 5px solid #020b10;
    border-radius: 1rem;
    box-shadow: 0 2px 12px 0 rgba(14, 14, 14, 0.25);
    margin-bottom: 70px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .preview-hero-area iframe {
        width: 385px; } }

.features-area {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px; }
  .features-area ul li {
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    color: #797494; }
    .features-area ul li i {
      padding-right: 0.5rem; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .features-area ul li {
        font-size: 14px; } }
    @media only screen and (max-width: 767px) {
      .features-area ul li {
        font-size: 14px; } }
    .features-area ul li.active {
      color: #020b10; }

.qr-code-wrapper {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  text-align: center;
  max-width: 19rem;
  padding: 2rem 1.5rem;
  border-radius: .5rem; }
  .qr-code-wrapper h6 {
    font-size: 14px;
    margin-top: 1rem; }

.built-with-selector span b {
  padding-left: 0.5rem; }

.preview-footer-area {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .preview-footer-area .footer-nav li a {
    margin-left: 1rem;
    font-size: 14px;
    color: #797494; }
    .preview-footer-area .footer-nav li a:hover, .preview-footer-area .footer-nav li a:focus {
      color: #00437c; }
  .preview-footer-area .footer-nav li:first-child a {
    margin-left: 0; }
  .preview-footer-area .footer-logo img {
    max-height: 50px; }

/* :: 6.5.0 Header */
.header-area {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 1px 1px rgba(116, 119, 148, 0.175); }

  .is-ts-sticky.sticky {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0;
  }
  .is-ts-sticky.sticky.fade_down_effect {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  } 
.search-form {
  position: relative;
  z-index: 1; }
  .search-form a {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #dcebfd;
    border-radius: 6px;
    text-align: center;
    color: #00437c; }
    .search-form a i {
      line-height: 32px;
      font-size: 1rem; }

.navbar--toggler {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .navbar--toggler span {
    position: absolute;
    z-index: 15;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #00437c;
    border-radius: 2px; }
    .navbar--toggler span:nth-child(1) {
      top: 4px;
      left: 4px; }
    .navbar--toggler span:nth-child(2) {
      top: 4px;
      right: 4px; }
    .navbar--toggler span:nth-child(3) {
      bottom: 4px;
      left: 4px; }
    .navbar--toggler span:nth-child(4) {
      bottom: 4px;
      right: 4px; }

.back-button a {
  color: #00437c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px; }
  .back-button a i {
    font-size: 1rem; }
  .back-button a:hover, .back-button a:focus {
    color: #00437c; }

.page-heading h6 {
  color: #00437c; }

.logo-wrapper {
  display: block; width: 60%; text-align: center;}
.logo-image {width: 175px;}


.spos-icon img {
    width: 29px;
    height: 30px;
    padding: 2px;
    animation:spos-icon 3s infinite ease-in-out;
  }

  @keyframes spos-icon {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }

  }

.spos-story {
  width: 34px;
  height: 34px;
  border: double 2px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #00dcffd1,#a820ffc2);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* :: 6.6.0 Sidenav */
.sidenav-wrapper {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: fixed;
  width: 100%;
  z-index: 999999;
  bottom: 0;
  left: -100%;
  height: 100%;
  background-color: #dcebfd;
  overflow-y: auto;}
  .sidenav-wrapper .go-home-btn {
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    position: fixed;
    bottom: 70px;
    left: 85%;
    background-color: #00437c;
    width: 40px;
    height: 35px;
    border-radius: 0.25rem;
    text-align: center;
    color: #ffffff;
    line-height: 37px;
    z-index: 10;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    font-size: 1.25rem; }
    .sidenav-wrapper .go-home-btn:hover, .sidenav-wrapper .go-home-btn:focus {
      background-color: #020b10; }
  .sidenav-wrapper.nav-active {
    left: 0; }
    .sidenav-wrapper.nav-active .go-home-btn {
      visibility: visible;
      opacity: 1; }
  .sidenav-wrapper.filter-nav {
    background: #dcebfd; }

.time-date-weather-wrapper {
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover; }
  .time-date-weather-wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(220, 235, 253, 0.1) 0%, rgba(220, 235, 253, 0.5) 50%, #dcebfd 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 235, 253, 0.1)), color-stop(50%, rgba(220, 235, 253, 0.5)), color-stop(100%, #dcebfd));
    background: -o-linear-gradient(top, rgba(220, 235, 253, 0.1) 0%, rgba(220, 235, 253, 0.5) 50%, #dcebfd 100%);
    background: linear-gradient(to bottom, rgba(220, 235, 253, 0.1) 0%, rgba(220, 235, 253, 0.5) 50%, #dcebfd 100%); }
  .time-date-weather-wrapper .weather-update .icon {
    font-size: 3rem;
    color: #ffffff; }
  .time-date-weather-wrapper .weather-update h4 {
    color: #ffffff; }
  .time-date-weather-wrapper .weather-update p {
    color: #020b10; }
  .time-date-weather-wrapper .time-date #dashboardDate {
    color: #020b10;
    font-size: 14px;
    font-weight: 500; }
  .time-date-weather-wrapper .time-date .running-time {
    color: #020b10;
    font-size: 1rem;
    font-weight: 300; }
    .time-date-weather-wrapper .time-date .running-time span {
      padding: 0 2px; }

.sidenav-black-overlay {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(2, 3, 16, 0.4);
  z-index: 9999;
  opacity: 0;
  visibility: hidden; }
  .sidenav-black-overlay.active {
    opacity: 1;
    visibility: visible; }

.sidenav-nav {
  margin: 1rem 1rem 2rem;
  position: relative;
  z-index: 1; }
  .sidenav-nav li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #020b10;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 500; }
    .sidenav-wrapper ul li {width: 49%; display: inline-block;}
    .sidenav-nav li a i {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      display: inline-block;
      margin-right: 0.5rem;
      font-size: 1rem;
      color: #797494; }
    .sidenav-nav li a .red-circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fc0008; }
    .sidenav-nav li a:hover, .sidenav-nav li a:focus {
      color: #00437c;
      font-weight: 500; }
  .sidenav-nav li:last-child a {
    margin-bottom: 0; }

/* :: 6.7.0 Random */
.page-content-wrapper {
  position: relative;
  z-index: 1;
  background: #fff;
  /* margin-top: 50px;*/ } 

.privacy-policy-wrapper,
.about-content-wrapper,
.contact-form-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 30px; }

.video-wrapper,
.headline-wrapper,
.terkini-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 10px; }

.all-pages-wrapper,
.user-all-article-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px; }

.page-nav {
  position: relative;
  z-index: 1; }
  .page-nav li a {
    color: #020b10;
    display: block;
    padding: 0.75rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 5rem;
    background-color: #dcebfd;
    font-size: 14px; }
    .page-nav li a i {
      margin-left: auto;
      font-size: 1rem; }
    .page-nav li a:hover, .page-nav li a:focus {
      color: #ffffff;
      background-color: #00437c; }
  .page-nav li:last-child a {
    margin-bottom: 0; }

.spos-title {
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  color: #212529;
  padding: 0 10px 10px 10px;
  position: relative;
  border-bottom: 1px solid #00437c;
  text-transform: uppercase;
}

.line-height-1 {
  line-height: 1; }

.video-icon {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00437c;
  text-align: center;
  color: #ffffff; }
  .video-icon i {
    line-height: 50px;
    padding-left: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00437c;
    opacity: 0.9;
    font-size: 17px; }
  .video-icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    content: "";
    background-color: #f4f5ff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: videoicon 3s linear 0s infinite;
    animation: videoicon 3s linear 0s infinite; }

@-webkit-keyframes videoicon {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1; }
  70% {
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    opacity: 0; }
  100% {
    width: 0%;
    height: 0%;
    opacity: 0; } }

@keyframes videoicon {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1; }
  70% {
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    opacity: 0; }
  100% {
    width: 0%;
    height: 0%;
    opacity: 0; } }

.flashing-effect {
  -webkit-animation: flashingeffect 2s linear 1s infinite;
  animation: flashingeffect 2s linear 1s infinite; }

@-webkit-keyframes flashingeffect {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flashingeffect {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.error-content {
  padding-bottom: 30px; }

/* :: 6.8.0 Hero */
.intro-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1; }

.get-started-btn {
  position: fixed;
  z-index: 10;
  bottom: 40px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px; }

.slides-wrapper {height: 320px;border-radius: 1rem;background: linear-gradient(357deg, rgba(0,75,155,1) 0%, rgba(5,160,241,1) 100%);}
.hero-slides {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  overflow: hidden; }
  .hero-slides .single-hero-slide .background-shape .circle2 {
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    transition-duration: 1500ms;
    transition-delay: 1s;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(244, 245, 255, 0.1);
    position: absolute;
    top: -400px;
    right: -400px;
    z-index: 1; }
  .hero-slides .single-hero-slide .background-shape .circle3 {
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    transition-delay: 1s;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(244, 245, 255, 0.1);
    position: absolute;
    top: -400px;
    right: -400px;
    z-index: 2; }
  .hero-slides .active .single-hero-slide .background-shape .circle2 {
    top: -190px;
    right: -170px; }
  .hero-slides .active .single-hero-slide .background-shape .circle3 {
    top: -70px;
    right: -220px; }

.single-hero-slide {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  overflow: hidden; }
  .single-hero-slide::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(357deg, rgba(0,75,155,1) 0%, rgba(5,160,241,1) 100%);
    content: "";
    position: absolute;
    border-radius: 1rem; }
  .single-hero-slide .post-catagory {
    padding: 0.25rem 0.75rem;
    background-color: #00437c;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0.7rem;
    display: inline-block;
    font-weight: 500;
    border-radius: 30px; }
    .single-hero-slide .post-catagory:hover, .single-hero-slide .post-catagory:focus {
      background-color: #00b894;
      color: #ffffff; }
  .single-hero-slide .post-title {
    color: #ffffff;
    line-height: 1.3rem;
    font-size: 1.2rem;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
        hyphens: auto;
    font-weight: 500;
    font-family: roboto;   
    }
    .single-hero-slide .post-title:hover, .single-hero-slide .post-title:focus {color: #cccccc; }
  .single-hero-slide .post-meta a,
  .single-hero-slide .post-meta span {
    font-size: 11px;
    font-weight: 100;
    color: #ffffff;
    margin-right: 5px;
    text-transform: capitalize;}
    .single-hero-slide .post-meta a i,
    .single-hero-slide .post-meta span i {
      color: #11b9e7;
      font-size: 12px; }
  .single-hero-slide .post-meta a:hover, .single-hero-slide .post-meta a:focus {
    color: #05a0f1; }
  .single-hero-slide .video-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 42; }
  .single-hero-slide .headline-image {height: 200px;overflow: hidden; margin-bottom: 10px;}
  .single-hero-slide .headline-image img {width: 100%;height: auto;min-height: 200px;}
/* :: 6.9.0 Footer */
.footer-nav-area {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #fefefe;
  width: 100%;
  height: 52px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top: 1px solid #00437c; }

.spos-footer-nav ul {
  width: 100%; }
  .spos-footer-nav ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
    position: relative;
    z-index: 1;
    height: 100%; }
    .spos-footer-nav ul li a {
      position: relative;
      z-index: 1;
      display: block;
      text-align: center;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 0.8;
      color: #00437c;
      height: 100%; }
      .spos-footer-nav ul li a::after {
        -webkit-transition-duration: 400ms;
        -o-transition-duration: 400ms;
        transition-duration: 400ms;
        position: absolute;
        min-width: 24px;
        width: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        content: "";
        bottom: -5px;
        left: 50%;
        z-index: 10;
        background-color: #00437c;
        opacity: 0;
        visibility: hidden; }
      .spos-footer-nav ul li a i {
        font-size: 1.4rem;
        margin-top: 10px;
        display: block; }
      .spos-footer-nav ul li a:hover, .spos-footer-nav ul li a:focus {
        color: #00437c; }
        .spos-footer-nav ul li a:hover::after, .spos-footer-nav ul li a:focus::after {
          opacity: 1;
          visibility: visible;
          bottom: 0; }
      .spos-footer-nav ul li a span, .spos-footer-nav ul li a .capnav {font-size:7px; font-weight: 200; display:block; text-align: center;padding-top: 5px;}
      .spos-footer-nav ul li a img {margin:0 auto;display: block;margin-top: 5px;}
    .spos-footer-nav ul li.active a {
      color: #00437c; }
      .spos-footer-nav ul li.active a::after {
        opacity: 1;
        visibility: visible;
        bottom: 0; }
#footer .footer_copyright{padding:10px 0}#footer p{margin:0;padding:5px 0;font-size:10px !important;}
.footer{border-top:1px solid #e9e9e9;background:#f7f7f7; margin-bottom: 53px;position:relative;z-index:1;margin-top: -1px;}
.footer h2.footer-title {margin: 0 0 17px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  color: #4A4A4A;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 5px;
}
.footer__logo {width:120px;margin: 0 auto;padding: 20px 0 10px}
.footer__copyright{text-align:center;line-height:20px; background-color:#e7e7e7;}
.footer__copyright-link{color:#999}
.footer--nav-list{padding:0;-ms-flex-pack:normal;justify-content:normal;display:-webkit-box;text-align:left}
.footer--nav-list__item{display:inline-block;width:46%;margin-bottom:10px;padding:0 15px}
.footer--nav-list__link{display:block;font-size:11px;line-height:22px;color:#000;height:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position: relative;text-transform: uppercase;}
.icon {
  width: 13px;
  height: 22px;
  background-size: 13px 13px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.label {
  display: inline-block;
  padding-left: 7px;
  /* line-height: 1.6em; */
  color: #444;
  text-align: left;
  position: absolute;
  text-transform: none;
}
.i-bisnis {
  background-image: url('https://static.bisnis-cdn.com/bisnis/assets/images/favicon.png');
}
.i-bisnis-muda {
  background-image: url('https://bisnismuda.id/files/frontend/favicon/favicon-16x16.png');
}
.i-harianjogja {
  background-image: url('https://www.harianjogja.com/favicon.png');
}
.i-jeda {
  background-image: url('https://jeda.id/files/public/images/logo/favicon.png');
}
.i-soloposfm {
  background-image: url('https://www.soloposfm.com/assets/v3/favicon.ico');
}
.i-ibukotakita {
  background-image: url('https://ibukotakita.com/files/2019/09/icon-ibukota.png');
}
.i-semarangpos {
  background-image: url('https://www.semarangpos.com/assets/themes/semarang/img/favicon.png');
}
.i-madiunpos {
  background-image: url('https://www.madiunpos.com/assets/themes/madiun/img/favicon.png');
}
.i-pisalin {
  background-image: url('https://www.solopos.com/images/favicon.ico');
}
.i-solo-grafika {
  background-image: url('https://www.solopos.com/images/favicon.ico');
}

/* :: 6.10.0 Search */
.search-post-wrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 1.5rem;
  overflow: hidden; }
  .search-post-wrapper h4 {
    font-weight: 300;
    font-size: 1rem; }
  .search-post-wrapper .shape1 {
    position: absolute;
    z-index: -5;
    width: 500px;
    height: 500px;
    border: 1px solid rgba(255, 175, 0, 0.5);
    border-radius: 50%;
    top: -300px;
    right: -250px;
    transition-duration: 500ms; }
  .search-post-wrapper .shape2 {
    position: absolute;
    z-index: -5;
    width: 500px;
    height: 500px;
    border: 1px solid rgba(255, 175, 0, 0.5);
    border-radius: 50%;
    top: -350px;
    right: -300px; }
  .search-post-wrapper .shape3 {
    position: absolute;
    z-index: -5;
    width: 500px;
    height: 500px;
    border: 1px solid rgba(255, 175, 0, 0.5);
    border-radius: 50%;
    top: -400px;
    right: -350px; }
  .search-post-wrapper .shape4 {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -5;
    border: 20px solid #05a0f1;
    border-radius: 50%;
    left: -3rem;
    bottom: -2rem; }
  .search-post-wrapper .shape5 {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: -5;
    border: 1px solid rgba(255, 175, 0, 0.5);
    border-radius: 50%;
    bottom: -80px;
    left: -80px; }

.search-page-form {
  position: relative;
  z-index: 1; }
  .search-page-form .search-via-voice {
    position: absolute;
    z-index: 100;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.25rem;
    color: #100DD1;
    font-size: 1.25rem; }
  .search-page-form form {
    position: relative;
    z-index: 1; }
    .search-page-form form input {
      background-color: #ffffff;
      border: 0;
      border-radius: 3rem;
      padding-left: 3rem;
      box-shadow: 0 2px 2px 0 rgba(16, 13, 209, 0.175);
      font-size: 13px; }
      .search-page-form form input:focus {
        box-shadow: 0 2px 2px 0 rgba(16, 13, 209, 0.175); }
    .search-page-form form button {
      position: absolute;
      border: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: transparent;
      outline: none;
      color: #00437c; }
      .search-page-form form button i {
        line-height: 40px; }

/* :: 6.11.0 Register */
.login-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
  background-color: #ffffff; }
  .login-wrapper .success-check {
    margin: 0 auto; }
    .login-wrapper .success-check i {
      font-size: 4rem;
      background: -webkit-linear-gradient(#100DD1, #00b894);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .login-wrapper .btn {
    border-radius: 5rem; }
  .login-wrapper .login-shape img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10; }
  .login-wrapper .login-shape2 img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10; }

.login-text {
  position: relative;
  z-index: 1; }
  .login-text h3 {
    color: #020b10;
    font-size: 1.375rem;
    margin-top: 2rem; }
  .login-text .login-img {
    max-width: 10rem;
    margin: 0 auto; }
  .login-text .shape1 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 8px solid #dcebfd;
    border-radius: 50%;
    top: -30%;
    left: 13%;
    z-index: -2; }
  .login-text .shape2 {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 5px solid #00b894;
    border-radius: 50%;
    top: -47%;
    right: 15%;
    z-index: -2; }
  .login-text .shape3 {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #100DD1;
    border-radius: 50%;
    top: -21%;
    right: 46%;
    z-index: -2; }
  .login-text .shape4 {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ea4c62;
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: -2; }
  .login-text .shape5 {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #05a0f1;
    border-radius: 50%;
    bottom: 22%;
    left: 18%;
    z-index: -2; }
  .login-text .shape6 {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #e6e6e6;
    border-radius: 50%;
    bottom: 20%;
    right: 10%;
    z-index: -2; }
  .login-text .shape7 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #dcebfd;
    border-radius: 50%;
    bottom: 65%;
    left: 5%;
    z-index: -2; }
  .login-text .shape8 {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #090909;
    border-radius: 50%;
    top: 35%;
    right: 10%;
    z-index: -2; }

.register-form {
  position: relative;
  z-index: 1; }
  .register-form .form-group {
    position: relative;
    z-index: 1; }
  .register-form .btn {
    border-radius: 5rem; }
  .register-form span {
    font-size: 12px;
    display: block; }
  .register-form form > .form-group > label {
    position: absolute;
    text-align: center;
    z-index: 100;
    right: 1.5rem;
    font-size: 14px;
    margin-bottom: 0;
    top: 10px;
    height: 30px;
    border-radius: 50%;
    color: #00437c; }
    .register-form form > .form-group > label i {
      line-height: 30px; }
  .register-form .form-control {
    border-radius: 5rem;
    border: 2px solid #dcebfd;
    font-size: 13px;
    font-weight: 300;
    height: 50px;
    padding: 0.5rem 1.5rem;
    background-color: #dcebfd; }
    .register-form .form-control:focus {
      border-color: #00437c; }
  .register-form .progress {
    width: calc(100% - 0.5rem);
    height: 3px;
    border-radius: 1rem;
    margin: 1rem 0.25rem 0.25rem;
    background-color: #dcebfd; }
  .register-form .password-score {
    font-size: 12px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0.25rem; }
  .register-form .password-recommendation {
    display: none !important; }
  .register-form #password-recommendation-heading {
    font-weight: 700;
    color: #00b894;
    font-size: 16px; }

.login-meta-data a {
  font-size: 14px; }
  .login-meta-data a:hover, .login-meta-data a:focus {
    color: #00437c; }

.login-meta-data p a:hover, .login-meta-data p a:focus {
  color: #00437c; }

.change-password-card {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0.75rem; }
  .change-password-card .card-body {
    padding: 1.5rem; }
  .change-password-card span {
    font-size: 13px;
    margin-bottom: 0.375rem;
    display: block; }
  .change-password-card .form-control {
    height: 35px;
    background-color: #ffffff; }
    .change-password-card .form-control:focus {
      border-color: #100DD1; }

/* :: 6.12.0 Contact */
.form-group label {
  font-size: 14px; }

.form-control {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-color: #e6e6e6;
  height: 50px;
  padding: 0.75rem 1rem;
  font-size: 14px;
  background-color: #dcebfd; }
  .form-control:focus {
    box-shadow: none; }

/* :: 6.13.0 Blog */
.terkini-post {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  border-radius: 1rem;
  }
  .terkini-post:last-child {
    margin-bottom: 0; }
  .terkini-post .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    width: 100px; }
    .terkini-post .post-thumbnail .video-icon {
      position: absolute;
      z-index: 42;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .terkini-post .post-thumbnail img {
      border-radius: 0.5rem; width: 100px; height: 100px; }
  .terkini-post .post-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 100px);
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
    width: calc(100% - 100px);
    padding-left: 0.75rem; }
    .terkini-post .post-content .post-title {
      font-size: 14px;
      display: block;
      font-weight: 600;
      line-height: 1.3; }
      .terkini-post .post-content .post-title:hover, .terkini-post .post-content .post-title:focus {
        color: #00437c; }
    .terkini-post .post-content .post-meta {
      margin-top: 8px;
      font-size: 12px;
      text-transform: capitalize;
      font-weight: 500;
      position: relative;
      z-index: 1; }
      .terkini-post .post-content .post-meta a {color: #797494; padding-right:7px;}
      .terkini-post .post-content .post-meta a:hover, .terkini-post .post-content .post-meta a:focus {
        color: #00437c; }


.tabs-news-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px; }
  .tabs-news-wrapper .nav-tabs {
    border-bottom: 0;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(15, 16, 19, 0.175); }
    .tabs-news-wrapper .nav-tabs .nav-item {
      margin-bottom: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center; }
      .tabs-news-wrapper .nav-tabs .nav-item.nav-link {
        border: 0;
        border-radius: 0.25rem;
        font-size: 14px; }
        .tabs-news-wrapper .nav-tabs .nav-item.nav-link.active {
          background-color: #00437c;
          color: #ffffff; }

.single-news-post {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  background-color: #ffffff;
  border-radius: 0.25rem; }
  .single-news-post:last-child {
    margin-bottom: 0; }
  .single-news-post .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px;
    border-radius: 50%; }
    .single-news-post .post-thumbnail .video-icon {
      position: absolute;
      z-index: 42;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .single-news-post .post-thumbnail img {
      border-radius: 50%; }
  .single-news-post .post-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 70px);
    flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
    width: calc(100% - 70px);
    padding-left: 1rem; }
    .single-news-post .post-content .post-title {
      font-size: 14px;
      margin-bottom: 0.25rem;
      display: block; }
      .single-news-post .post-content .post-title:hover, .single-news-post .post-content .post-title:focus {
        color: #00437c; }
    .single-news-post .post-content .post-meta a {
      font-size: 12px;
      margin-right: 1.5rem;
      color: #797494;
      font-weight: 500;
      position: relative;
      z-index: 1; }
      .single-news-post .post-content .post-meta a:hover, .single-news-post .post-content .post-meta a:focus {
        color: #00437c; }
      .single-news-post .post-content .post-meta a:after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        right: -15px;
        z-index: 1;
        background-color: #749491; }
      .single-news-post .post-content .post-meta a:last-child {
        margin-right: 0; }
        .single-news-post .post-content .post-meta a:last-child::after {
          display: none; }

.spos-v-card {
  position: relative;
  z-index: 1;
  background-color: #0C153B;
  border-radius: 0.5rem; }
  .spos-v-card .video-icon {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 42; }
  .spos-v-card .bookmark-customize-option {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 60; }
    .spos-v-card .bookmark-customize-option .btn {
      -webkit-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      background-color: rgba(244, 245, 255, 0.2);
      padding: 0;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 1rem;
      color: #ffffff;
      border-radius: 50%; }
      .spos-v-card .bookmark-customize-option .btn i {
        line-height: 29px; }
      .spos-v-card .bookmark-customize-option .btn::after {
        display: none; }
      .spos-v-card .bookmark-customize-option .btn:hover, .spos-v-card .bookmark-customize-option .btn:focus {
        background-color: #00437c; }
    .spos-v-card .bookmark-customize-option .dropdown-menu {
      border: 0;
      min-width: 110px;
      max-width: 140px; }
      .spos-v-card .bookmark-customize-option .dropdown-menu .dropdown-item {
        padding: .25rem 0.75rem;
        color: #797494;
        font-size: 12px; }
        .spos-v-card .bookmark-customize-option .dropdown-menu .dropdown-item:hover {
          background-color: #dcebfd; }
  .spos-v-card .bookmark-post {
    position: absolute;
    z-index: 99;
    top: 1rem;
    right: 1rem;
    color: #ffffff;
    font-size: 1rem; }
    .spos-v-card .bookmark-post:hover, .spos-v-card .bookmark-post:focus {
      color: #05a0f1; }
  .spos-v-card .post-thumbnail {
    position: relative;
    z-index: 1; }
    .spos-v-card .post-thumbnail::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      content: "";
      background-color: #0C153B;
      position: absolute;
      border-radius: 1rem;
      opacity: 0.45; }
    .spos-v-card .post-thumbnail img {
      border-radius: 0.5rem; }
  .spos-v-card .post-content {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 49;
    padding: 1rem; }
    .spos-v-card .post-content .post-catagory {
      font-size: 11px;
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0.25rem;
      color: #11b9e7; }
    .spos-v-card .post-content .post-title {
      font-size: 13px;
      line-height: 17px;
      display: inline-block;
      color: #ffffff; }
      .spos-v-card .post-content .post-title:hover, .spos-v-card .post-content .post-title:focus {color: #ffffff; }

/* :: 6.14.0 Editorial */
.editorial-choice-news-wrapper {
  position: relative;
  z-index: 1;
  background: #0C153B;
  background: -webkit-linear-gradient(to right, #242644, #0C153B);
  background: linear-gradient(to right, #242644, #0C153B);
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden; 
  height: 302px;}
  .editorial-choice-news-wrapper .bg-shape1 img {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: -3; }
  .editorial-choice-news-wrapper .bg-shape2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 90px;
    height: 100%;
    background-repeat: repeat; }

.editorial-choice-title {
  position: relative;
  z-index: 1; }
  .editorial-choice-title i {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #05a0f1; }
  .editorial-choice-title h6 {
    color: #ffffff;
    margin-bottom: 0; }

.single-editorial-slide {
  position: relative;
  z-index: 1; }
  .single-editorial-slide .bookmark-post {
    position: absolute;
    z-index: 99;
    top: .5rem;
    left: .5rem;
    color: #ffffff;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #ea4c62; }
    .single-editorial-slide .bookmark-post i {
      line-height: 30px; }
    .single-editorial-slide .bookmark-post:hover, .single-editorial-slide .bookmark-post:focus {
      color: #ffffff; }
  .single-editorial-slide .post-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    width: 40%;
    border-radius: 1rem; }
    .single-editorial-slide .post-thumbnail .video-icon {
      position: absolute;
      z-index: 42;
      bottom: 1rem;
      left: 1rem; }
    .single-editorial-slide .post-thumbnail img {
      border-radius: 1rem; }
  .single-editorial-slide .post-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    width: 60%;
    padding-left: 1rem;
    padding-top: 6px; }
    .single-editorial-slide .post-content .post-catagory {
      background-color: #00b894;
      padding: 0.25rem 0.75rem;
      border-radius: 3rem;
      color: #ffffff;
      font-size: 12px;
      margin-bottom: 0.25rem;
      display: inline-block; }
      .single-editorial-slide .post-content .post-catagory:hover, .single-editorial-slide .post-content .post-catagory:focus {
        background-color: #00437c; }
    .single-editorial-slide .post-content .post-title {
      color: #ffffff;
      margin-bottom: 0.5rem;
      font-size: 15px; line-height: 19px; }
      .single-editorial-slide .post-content .post-title:hover, .single-editorial-slide .post-content .post-title:focus {
        color: #05a0f1; }
    .single-editorial-slide .post-content .post-meta a {
      font-size: 12px;
      text-transform: capitalize;
      margin-right: 1.5rem;
      color: #797494;
      font-weight: 500;
      position: relative;
      z-index: 1; }
      .single-editorial-slide .post-content .post-meta a:hover, .single-editorial-slide .post-content .post-meta a:focus {
        color: #00437c; }
      .single-editorial-slide .post-content .post-meta a:after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: -14px;
        z-index: 1;
        background-color: #797494; }
      .single-editorial-slide .post-content .post-meta a:last-child {
        margin-right: 0; }
        .single-editorial-slide .post-content .post-meta a:last-child::after {
          display: none; }

.editorial-choice-news-slide {
  position: relative;
  z-index: 1; }
  .editorial-choice-news-slide .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: calc(40% + 1rem);
    margin-top: 1rem;
    position: absolute;
    bottom: 6px;}
    .editorial-choice-news-slide .owl-dots .owl-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(244, 245, 255, 0.2);
      margin: 0 3px; }
      .editorial-choice-news-slide .owl-dots .owl-dot.active {
        background-color: #05a0f1; }

/* :: 6.15.0 Catagory */
.opini-wrapper {
  position: relative;
  z-index: 1;
  background: #dcebfd;
  background: -webkit-linear-gradient(to right, #dcebfd, #dcebfd);
  background: linear-gradient(to right, #dcebfd, #dcebfd);
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden; }
  .opini-wrapper .catagory-title {
    position: absolute;
    top: 45%;
    left: 1.25rem;
    z-index: 10;
    -webkit-transform: rotate(-90deg) translateY(-50%);
    -ms-transform: rotate(-90deg) translateY(-50%);
    transform: rotate(-90deg) translateY(-50%);
    font-weight: 700;
    text-transform: uppercase; }
  .opini-wrapper .bg-shapes .shape1 {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid #b1d4fd;
    border-radius: 50%;
    top: -200px;
    left: -130px;
    z-index: -1; }
  .opini-wrapper .bg-shapes .shape2 {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid #b1d4fd;
    border-radius: 50%;
    top: -230px;
    left: -130px;
    z-index: -1; }
  .opini-wrapper .bg-shapes .shape3 {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid #b1d4fd;
    border-radius: 50%;
    top: -260px;
    left: -130px;
    z-index: -1; }
  .opini-wrapper .bg-shapes .shape4 {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid #b1d4fd;
    border-radius: 40%;
    bottom: -150px;
    right: -140px;
    z-index: -1; }
  .opini-wrapper .bg-shapes .shape5 {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid #b1d4fd;
    border-radius: 30%;
    bottom: -175px;
    right: -150px;
    z-index: -1; }

.catagory-card {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  background-color: transparent; }
  .catagory-card a {
    position: relative;
    border-radius: 1rem;
    display: block;
    z-index: 1;
    overflow: hidden; }
    .catagory-card a::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      content: "";
      background-color: #0C153B;
      opacity: 0.4;
      border-radius: 1rem; }
    .catagory-card a img {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      border-radius: 1rem;
      position: relative;
      z-index: -5; }
    .catagory-card a h6 {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      font-size: 11px;
      margin-bottom: 0;
      position: absolute;
      left: 0.3rem;
      bottom: 0.5rem;
      z-index: 100;
      color: #ffffff;
      background-color: #00437c;
      padding: 2px 7px;
      border-radius: 5px; }
      .catagory-card a h6:hover, .catagory-card a h6:focus {
        background-color: #020b10; }
    .catagory-card a:hover img, .catagory-card a:focus img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.spos-video-slides {
  width: calc(100% + 1rem); height: 240px; overflow: hidden;}
.opini-slides {
  width: calc(100% + 3rem);
  margin-left: 3rem; }
  .opini-slides .owl-stage .owl-item:nth-child(3n+1) .catagory-card a::after {
    background-color: #100DD1; }
  .opini-slides .owl-stage .owl-item:nth-child(3n+1) .catagory-card a h6 {
    background-color: #ea4c62; }
    .opini-slides .owl-stage .owl-item:nth-child(3n+1) .catagory-card a h6:hover, .opini-slides .owl-stage .owl-item:nth-child(3n+1) .catagory-card a h6:focus {
      background-color: #020b10; }
  .opini-slides .owl-stage .owl-item:nth-child(3n+0) .catagory-card a::after {
    background-color: #ea4c62; }
  .opini-slides .owl-stage .owl-item:nth-child(3n+0) .catagory-card a h6 {
    background-color: #05a0f1;
    color: #020b10; }
    .opini-slides .owl-stage .owl-item:nth-child(3n+0) .catagory-card a h6:hover, .opini-slides .owl-stage .owl-item:nth-child(3n+0) .catagory-card a h6:focus {
      background-color: #020b10;
      color: #ffffff; }

.all-catagory-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 14px; }
  .all-catagory-wrapper .catagory-card a h6 {
    left: 1rem;
    bottom: 1rem;
    padding: 0.25rem 0.75rem; }

.catagory-posts-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 30px; }

/* :: 6.16.0 Blog Details */
.single-blog-thumbnail {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 240px;
  max-height: 275px;
  overflow: hidden;}
  .single-blog-image {  
    object-fit: cover; 
    object-position: top center; 
    width: 100%;
    min-height: 240px;
    max-height: 250px;}
  .single-blog-thumbnail .post-bookmark {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    bottom: 1.5rem;
    right: 1rem;
    background-color: #00437c;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    opacity: 0.8; }
    .single-blog-thumbnail .post-bookmark i {
      line-height: 30px; font-size: 13px;}
    .single-blog-thumbnail .post-bookmark:hover, .single-blog-thumbnail .post-bookmark:focus {
      color: #ffffff;
      background-color: #0C153B; }

.single-blog-info {
  position: relative;
  z-index: 1;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: -15px;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }
  .single-blog-info .kategori, .single-blog-info .kategori-2 {font-size: 12px; font-weight: 600; padding: 0 5px;margin-bottom: 10px;}
  .single-blog-info .kategori-2 {text-transform: capitalize;}
  .single-blog-thumbnail p.caption {font-size: 11px; line-height: 13px; color: #fff;position: absolute;bottom: 0; padding: 15px 15px 20px;background: linear-gradient(to top, rgba(0,0,0,1) 30%, rgba(255,255,255,0) 100%);}
  .single-blog-info .post-like-wrap {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
    max-width: 75px;
    width: 75px;
    text-align: center;
    padding: 1rem 0;
    background-color: #dcebfd;
    border-radius: 0.25rem; }
    .single-blog-info .post-like-wrap span {
      font-size: 12px;
      text-transform: uppercase;
      color: #797494;
      margin-top: 0.5rem; }
    .single-blog-info .post-like-wrap .line {
      display: block;
      width: 30px;
      height: 2px;
      background-color: #00b894;
      margin: 0.5rem auto 0.75rem; }
  .single-blog-info .post-content-wrap {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;}
  .single-blog-info .post-content-wrap h1 { font-family: roboto; font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;}
  .single-blog-info .post-share {
    width: 30px;
    height: 30px;
    background-color: #05a0f1;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    z-index: 10;
    display: block;
    margin: 0 auto; }
    .single-blog-info .post-share i {
      line-height: 30px; }
    .single-blog-info .post-share:hover, .single-blog-info .post-share:focus {
      color: #ffffff;
      background-color: #00437c; }
  .single-blog-info .post-meta a {
    color: #0c153b;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;}
    .single-blog-info .post-meta a:hover, .single-blog-info .post-meta a:focus {
      color: #797494; text-decoration: underline; }
  .penulis {font-weight: 500 !important; /*color: #167ac6 !important;*/}
  .multi-reporter {display: block}
  .multi-reporter a{text-transform: none !important;}
  .multi-reporter a:hover{text-decoration:underline;}
  .multi-reporter a:after{content:" /";}
  .multi-reporter a:last-child:after{content:"" !important;}
  
  .single-blog-info .post-catagory {
    padding: 0.125rem 0.75rem;
    font-size: 12px;
    color: #ffffff;
    border-radius: 3rem;
    background-color: #00b894; }
    .single-blog-info .post-catagory:hover, .single-blog-info .post-catagory:focus {
      background-color: #0C153B; }
  .single-blog-info .post-love {
    width: 30px;
    height: 30px;
    background-color: #ea4c62;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    font-size: 1rem; }
    .single-blog-info .post-love i {
      line-height: 32px; }
    .single-blog-info .post-love:hover, .single-blog-info .post-love:focus {
      background-color: #020b10; }
  .single-blog-info .blog-description h2 strong, .single-blog-info .blog-description h3 strong, .single-blog-info .blog-description h4 strong, .single-blog-info .blog-description h5 strong {font-weight:700;}

.related-post-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 30px; }

.blog-description {
  position: relative;
  z-index: 1;
  padding-bottom: 12px; }

.blog-description p {font-size: 16.5px;
  /*font-family: 'Roboto';*/
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;}

.blog-description p iframe {max-width: 100%;height: 185px;}
.blog-description ul li {
    list-style: outside;
    margin-bottom: 10px;
    font-size: 17.5px;
    margin-left: 30px;
    color: #111;
}  
.blog-description ol li {
    list-style: decimal;
    margin-bottom: 10px;
    font-size: 17.5px;
    margin-left: 30px;
    color: #111;
} 
blockquote {border-left: 3px solid #00437d; color: #00437d; font-size: 15px; line-height: 21px; padding-left: 15px;}
#scrollIndicator {
  position: fixed;
  height: 2px;
  background-color: #100DD1;
  bottom: 58px;
  z-index: 100; }

.blog-description a {color: #00437d !important;}

.blog-description h3, .blog-description h4, .blog-description h1, .blog-description h5, .blog-description h2 {font-size: 1.1rem; font-weight: 600;}

/* styling baca juga */
.blog-description p em strong {
  display:inline-block;padding:10px;font-size:15px;line-height:23px;background:#f1f1f1;font-weight:700;border-radius:5px;color:#44474a;
}
.blog-description p em strong a {
  color:#0b6097 !important;font-weight:500!important;font-style:normal !important;
}

.blog-description p strong em {
  display:inline-block;padding:10px;font-size:15px;line-height:23px;background:#f1f1f1;font-weight:700;border-radius:5px;color:#44474a;
}
.blog-description p strong em a {
  color:#0b6097 !important;font-weight:500!important;font-style:normal !important;
}

.blog-description p em strong:not(:only-child):first-child {display: none;}
.blog-description p em strong:not(:only-child):nth-child(2):before {content:"Baca Juga: ";}

.blog-description p strong em:not(:only-child):first-child {display: none;}
.blog-description p strong em:not(:only-child):nth-child(2):before {content:"Baca Juga: ";}

.blog-description p em strong span {position: absolute;margin-top: -13px;font-style: normal !important;font-weight: 200;right:23px;font-size: 10px;}
/* end styling baca juga */

.social-share-btn a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35px;
  flex: 0 0 35px;
  max-width: 35px;
  width: 35px;
  height: 35px;
  display: block;
  margin: 0.5rem;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
  text-align: center; }
  .social-share-btn a i {
    line-height: 31px; }
  .social-share-btn a:hover, .social-share-btn a:focus {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }
  .social-share-btn a.btn-facebook {
    color: #3b5998;
    border-color: #3b5998; }
  .social-share-btn a.btn-twitter {
    color: #00acee;
    border-color: #00acee; }
  .social-share-btn a.btn-instagram {
    color: #3f729b;
    border-color: #3f729b; }
  .social-share-btn a.btn-whatsapp {
    color: #4FCE5D;
    border-color: #4FCE5D; }
  .social-share-btn a.btn-linkedin {
    color: #0e76a8;
    border-color: #0e76a8; }
  .social-share-btn a.btn-tumblr {
    color: #34526f;
    border-color: #34526f; }
  .social-share-btn a.btn-quora {
    color: #B92B27;
    border-color: #B92B27; }

/* :: 6.17.0 Profile */
.profile-content-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  background: #ffffcc;
  background: -webkit-linear-gradient(to right, #dcebfd, #fff);
  background: linear-gradient(to right, #dcebfd, #fff); }

.profile-settings-option a {
  display: block;
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: #00437c;
  border-radius: 50%;
  z-index: 99;
  box-shadow: 0 1px 16px 0 rgba(16, 13, 209, 0.175); }
  .profile-settings-option a i {
    line-height: 32px; color: #fff; }
  .profile-settings-option a:hover, .profile-settings-option a:focus {
    background-color: #100DD1;
    color: #ffffff; }

.user-meta-data {
  position: relative;
  z-index: 1; }
  .user-meta-data .user-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px; }
    .user-meta-data .user-thumbnail img {
      border-radius: 0.5rem; height: auto;}
  .user-meta-data .user-content {
    padding-left: 0.5rem; }
    .user-meta-data .user-content h6 {font-size:17px; font-weight: 600; margin-bottom: 0;}
    .user-meta-data .user-content > p {
      font-size: 12px;
      color: #999;
      display: block;
      font-weight: 500;
      margin-bottom: 2px; }
    .user-meta-data .user-content .user-meta-data p {
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 1; }
      .user-meta-data .user-content .user-meta-data p span {
        display: block;
        font-size: 10px;
        font-weight: 400;
        color: #797494; }
        .user-meta-data .user-content .user-meta-data p span.counter {
          font-size: 18px;
          margin-bottom: 0.375rem;
          font-weight: 700;
          color: #020b10; }
          .author-social {
            font-size: 13px;
          }

          .author-social a {
            color: #999;
            margin-left: 10px;
          }

.user-meta-data .user-content .post-list {
    background: linear-gradient(to right, #1fb4dd, #00437d);
    padding: 0.125rem 1rem 0.1rem;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 15px;
}

.user-meta-data .user-content .post-list a { color: #ffffff; }

.tag-lists span {
  padding: 4px 8px;
  background: #00437d;
  font-size: 12px;
  color: #fff;
  border-radius: 35px;
  margin-right: 6px;
  display: inline-block;
}
.tag-lists a {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  display: inline-block;
  font-size: 12px;
  padding: 2px 8px;
  margin-left: 3px;
  margin-bottom: 10px;
  border-radius: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  word-spacing: -2px;
}
.tag-lists a:not(:first-child) {
  margin-left: 1px;
}

.tag-lists a:hover {
  color: #fff;
  background: #00437d;
  border-color: #00437d;
}

.my-visitors-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 30px; }

.user-total-count-chart {
  position: relative;
  z-index: 1;
  background-color: #dcebfd;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0.5rem 0.5rem; }

.traffic-source-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px; }

.traffic-source-chart {
  position: relative;
  z-index: 1;
  background-color: #dcebfd;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 0.5rem; }

/* :: 6.18.0 Comment */
.live-video-comments {
  position: relative;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 4px; }

.comment-sorting-option {
  position: relative;
  z-index: 2; }
  .comment-sorting-option .btn {
    background-color: #dcebfd;
    padding: 0.125rem 0.5rem 0.1rem;
    text-align: center;
    font-size: 1rem;
    color: #020b10;
    line-height: 1;
    border-radius: 2rem; }
    .comment-sorting-option .btn::after {
      display: none; }
    .comment-sorting-option .btn:hover, .comment-sorting-option .btn:focus {
      background-color: #00437c;
      color: #ffffff; }
  .comment-sorting-option .dropdown-menu {
    border: 1px solid #e6e6e6;
    min-width: 140px;
    max-width: 180px;
    box-shadow: 0 2px 12px rgba(15, 16, 19, 0.175); }
    .comment-sorting-option .dropdown-menu .dropdown-item {
      padding: .25rem 0.75rem;
      color: #020b10;
      font-size: 13px;
      font-weight: 500; }
      .comment-sorting-option .dropdown-menu .dropdown-item:hover {
        background-color: #dcebfd; }

.single-comment-wrap {
  position: relative;
  z-index: 1; }
  .single-comment-wrap .comment-author {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    width: 40px;
    border-radius: 50%; }
    .single-comment-wrap .comment-author img {
      border-radius: 50%; }
  .single-comment-wrap .comment-meta {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 40px);
    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    padding-left: 1rem; }
    .single-comment-wrap .comment-meta .comments-author-name {
      font-size: 14px;
      margin-bottom: 0.25rem; }
    .post-date, .single-comment-wrap .comment-meta .post-date {
      display: block;
      font-size: 13px;
      /* color: #af0d1c; */
      font-weight: 400; }
    .single-comment-wrap .comment-meta .comment-text {
      font-size: 14px;
      color: #797494;
      margin-bottom: 0.5rem; }
    .single-comment-wrap .comment-meta .like-count span {
      font-size: 14px; }
    .single-comment-wrap .comment-meta .like-count a {
      font-size: 14px;
      display: inline-block;
      color: #797494;
      border: 1px solid #e6e6e6;
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      margin-left: 0.5rem; }
      .single-comment-wrap .comment-meta .like-count a i {
        line-height: 29px; }
      .single-comment-wrap .comment-meta .like-count a:hover, .single-comment-wrap .comment-meta .like-count a:focus {
        color: #ffffff;
        background-color: #ea4c62;
        border-color: #ea4c62; }
    .single-comment-wrap .comment-meta .reply {
      font-size: 12px;
      color: #797494;
      font-weight: 700; }
      .single-comment-wrap .comment-meta .reply:hover {
        color: #100DD1; }

.children-comments-list {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #e6e6e6; }

.comment-form {
  position: relative;
  z-index: 1;
  margin-bottom: 2rem; }
  .comment-form textarea {
    border-radius: 0.5rem;
    width: 100%;
    height: 45px;
    background-color: #dcebfd;
    color: #020b10;
    font-size: 13px;
    border: 0;
    padding: 0.75rem 1rem; }
  .comment-form button {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none; }
  .comment-form.reply-comment-form {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: fixed;
    width: calc(100% - 2rem);
    margin-bottom: 0;
    left: 1rem;
    right: 1rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    bottom: 74px; }
    .comment-form.reply-comment-form.show {
      opacity: 1;
      visibility: visible; }
    .comment-form.reply-comment-form textarea {
      border-radius: 0.375rem;
      height: 55px;
      font-size: 12px;
      padding: 0.5rem 1rem;
      border: 1px solid #e6e6e6;
      background-color: #ffffff;
      box-shadow: 0 2px 24px rgba(16, 13, 209, 0.175); }

/* :: 6.19.0 Live */
.live-video-url {
  position: relative;
  z-index: 1; }

.live-video-info {
  position: relative;
  z-index: 1;
  background: #ffffcc;
  background: -webkit-linear-gradient(to right, #fff2cc, #ffffcc);
  background: linear-gradient(to right, #fff2cc, #ffffcc);
  padding-top: 30px;
  padding-bottom: 30px; }
  .live-video-info .viwer-count {
    font-size: 14px; }
  .live-video-info .video-time {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
    .live-video-info .video-time span {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #ea4c62;
      display: inline-block; }

.live-video-description {
  position: relative;
  z-index: 1;
  padding-top: 26px;
  padding-bottom: 11px; }

/* :: 6.20.0 Tags */
.popular-tags-wrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 26px; }

.popular-tags-list a {
  font-size: 16px;
  font-weight: 600;
  padding: 3px 7px;
  margin-bottom: 5px;
  display: block;
  word-spacing: -3px;
}

/* :: 6.21.0 Element */
.element-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px; }

.spos-owl-carousel-slides {
  position: relative;
  z-index: 1; }
  .spos-owl-carousel-slides .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: #00437c;
    color: #ffffff;
    text-align: center;
    border-radius: 0.125rem; }
    .spos-owl-carousel-slides .owl-prev i {
      line-height: 30px; }
  .spos-owl-carousel-slides .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: #00437c;
    color: #ffffff;
    text-align: center;
    border-radius: 0.125rem; }
    .spos-owl-carousel-slides .owl-next i {
      line-height: 30px; }
  .spos-owl-carousel-slides .owl-dots {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: 15px; }
    .spos-owl-carousel-slides .owl-dots .owl-dot {
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 0 3px; }
      .spos-owl-carousel-slides .owl-dots .owl-dot.active {
        background-color: #00437c; }

.spos-media {
  position: relative;
  z-index: 1; }
  .spos-media img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px; }

.list-unstyled {
  padding: 0.375rem 0.5rem;
  border: 2px solid #e6e6e6; }

.pagination .page-link {
  color: #020b10;
  border: 1px solid #e6e6e6; }
  .pagination .page-link:hover, .pagination .page-link:focus {
    background-color: #dcebfd;
    box-shadow: none;
    color: #100DD1; }

.pagination .page-item.active .page-link {
  background-color: #100DD1;
  border-color: #100DD1;
  color: #ffffff; }

.progress {
  background-color: #dcebfd;
  border-radius: 5rem; }

.alert {
  font-size: 14px; }

.modal-open {
  padding-right: 0 !important; }
  .modal-open .modal {
    padding-right: 0 !important; }

.post-share-modal .close {
  border: 1px solid #e6e6e6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px; }
  .post-share-modal .close i {
    font-size: 14px;
    line-height: 28px; }

.post-share-modal h6 {
  font-size: 14px;
  margin-top: 0.25rem; }

.modal-content {
  border: 0;
  border-radius: 0.5rem; }

/* :: 6.22.0 Settings */
.settings-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px; }

.settings-card {
  margin-bottom: 1rem;
  background-color: #86c1fb;
  border-radius: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem; }
  .settings-card:last-child {
    margin-bottom: 0; }

.single-settings {
  position: relative;
  z-index: 1; }
  .single-settings .title {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .single-settings .title i {
      display: inline-block;
      color: #100DD1;
      font-size: 1rem;
      margin-right: 0.5rem; }
    .single-settings .title span span {
      font-size: 10px;
      margin-left: 0.25rem; }
  .single-settings .data-content {
    font-size: 12px;
    font-weight: 700; }
    .single-settings .data-content a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .single-settings .data-content i {
      margin-left: 0.25rem;
      font-size: 1rem; }
  .single-settings .toggle-button-cover {
    position: relative;
    z-index: 1; }
  .single-settings .knobs,
  .single-settings .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .single-settings .button.r {
    position: relative;
    width: 45px;
    height: 17px;
    overflow: hidden;
    border: 1px solid #dcebfd; }
  .single-settings .button.r,
  .single-settings .button.r .layer {
    border-radius: 100px; }
  .single-settings .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3; }
  .single-settings .knobs {
    z-index: 2; }
  .single-settings .layer {
    width: 100%;
    background-color: transparent;
    transition: 0.3s ease all;
    z-index: 1; }
  .spos-dark-mode {font-size: 7px; text-align: center;display: inline-block; position: relative; top: -3px; width: 45px;}
  .dark-mode {display: block;background-color: #dcebfd;border-radius: 15px;text-align: center;color: #00437c;position: relative; top: -7px;}
  .single-settings .knobs:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 14px;
    height: 14px;
    background-color: #00437d;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15); }
  .single-settings .checkbox:active + .knobs:before {
    width: 45px;
    border-radius: 100px; }
  .single-settings .checkbox:checked:active + .knobs:before {
    margin-left: -28px; }
  .single-settings .checkbox:checked + .knobs:before {
    content: '';
    left: 28px;
    background-color: #00437c; }
  .single-settings .checkbox:checked ~ .layer {
    background-color: #ffffff; }

.alignleft {
    display: inline;
    float: left;
    margin: 5px 20px 10px 0;
  max-width: 100%;
  height: auto;
}
.alignright {
    display: inline;
    float: right;
  max-width: 100%;
  height: auto;
    margin: 5px 0 10px 20px
}
.aligncenter {
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto
}
.wp-caption {
    max-width: 100% !important;
    background: #fff
}
.wp-caption img {
    margin: 0;
  max-width: 100% !important;
  height: auto;
}
p.wp-caption-text {
    color: #666;
    font-size: 13px !important;
    line-height: 15px !important;
    font-style: italic;
    margin: 5px 0 25px 0
}

figcaption {font-size: 12px;}    

/* :: 6.23.0 Night Mode */
#previewPage[data-theme="dark"] {
  background-color: #bac0c7; }
  #previewPage[data-theme="dark"] body {
    background-color: #bac0c7; }
  #previewPage[data-theme="dark"] .preview-iframe-wrapper .preview-hero-area .preview-content-wrapper .demo-title {
    color: #020b10; }
  #previewPage[data-theme="dark"] p {
    color: #797494; }
  #previewPage[data-theme="dark"] h1,
  #previewPage[data-theme="dark"] h2,
  #previewPage[data-theme="dark"] h3,
  #previewPage[data-theme="dark"] h4,
  #previewPage[data-theme="dark"] h5,
  #previewPage[data-theme="dark"] h6 {
    color: #020b10; }
  #previewPage[data-theme="dark"] .preview-hero-area .preview-content-wrapper .current-version {
    color: #bac0c7; }

[data-theme="dark"] {
  background-color: #111; }
  [data-theme="dark"] body,[data-theme="dark"] .page-content-wrapper {
    background-color: #111; }
  [data-theme="dark"] p {
    color: rgba(255, 255, 255, 0.7); }
  [data-theme="dark"] #preloader {
    background-color: #111; }
  [data-theme="dark"] a,
  [data-theme="dark"] a:hover,
  [data-theme="dark"] a:focus,
  [data-theme="dark"] .label {
    color: #bac0c7 !important; }
  [data-theme="dark"] h1,
  [data-theme="dark"] h2,
  [data-theme="dark"] h3,
  [data-theme="dark"] h4,
  [data-theme="dark"] h5,
  [data-theme="dark"] h6 {
    color: rgba(255, 255, 255, 0.8); }
  [data-theme="dark"] .header-area {
    background-color: #111;}
  [data-theme="dark"] .footer-nav-area {
    background-color: #111; }
  [data-theme="dark"] .card {
    border-color: #242644;
    background-color: #242644; }
  [data-theme="dark"] .spos-footer-nav ul li a {
    color: rgba(255, 255, 255, 0.7); }
  [data-theme="dark"] .spos-footer-nav ul li.active a {
    color: #05a0f1; }
  [data-theme="dark"] .spos-footer-nav ul li a:hover,
  [data-theme="dark"] .spos-footer-nav ul li a:focus {
    color: #05a0f1; }
  [data-theme="dark"] .top-search-form form .form-control {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.125); }
  [data-theme="dark"] .btn-warning:hover, [data-theme="dark"] .btn-warning:focus {
    color: #ffffff;
    background-color: #282958;
    border-color: #282958; }
  [data-theme="dark"] .btn-danger:hover, [data-theme="dark"] .btn-danger:focus {
    background-color: #282958;
    border-color: #282958; }
  [data-theme="dark"] .btn-primary:hover, [data-theme="dark"] .btn-primary:focus {
    background-color: #282958;
    border-color: #282958; }
  [data-theme="dark"] .btn-success:hover, [data-theme="dark"] .btn-success:focus {
    background-color: #282958;
    border-color: #282958; }
  [data-theme="dark"] .btn-info:hover, [data-theme="dark"] .btn-info:focus {
    background-color: #282958;
    border-color: #282958; }
  [data-theme="dark"] .page-nav li a {
    background-color: #332858;
    color: #bac0c7; }
  [data-theme="dark"] .page-nav li a:hover,
  [data-theme="dark"] .page-nav li a:focus {
    color: #05a0f1; }
  [data-theme="dark"] .back-button a {
    color: #bac0c7; }
  [data-theme="dark"] .back-button a:hover,
  [data-theme="dark"] .back-button a:focus {
    color: #05a0f1; }
  [data-theme="dark"] .single-settings .button.r {
    border-color: rgba(255, 255, 255, 0.15); }
  [data-theme="dark"] .single-settings .data-content a:hover, [data-theme="dark"] .single-settings .data-content a:focus {
    color: #05a0f1; }
  [data-theme="dark"] .search-form a {
    background-color: rgba(255, 255, 255, 0.15); }
  [data-theme="dark"] .opini-wrapper .catagory-title {
    color: #020b10; }
  [data-theme="dark"] .catagory-card {
    background-color: transparent;
    border-color: transparent; }
  [data-theme="dark"] .terkini-post {
    background-color: #111;
    border-color: #111; }
    [data-theme="dark"] .terkini-post .post-content .post-title:hover, [data-theme="dark"] .terkini-post .post-content .post-title:focus {
      color: #05a0f1; }
  [data-theme="dark"] .tabs-news-wrapper.bg-gray {
    background-color: #020b10 !important; }
  [data-theme="dark"] .tabs-news-wrapper .nav-tabs {
    background-color: transparent;}
  [data-theme="dark"] .single-news-post {
    background-color: #081923; }
    [data-theme="dark"] .single-news-post .post-content .post-title:hover, [data-theme="dark"] .single-news-post .post-content .post-title:focus {
      color: #05a0f1; }
  [data-theme="dark"] .single-news-post.bg-gray {
    background-color: #282958 !important; }
    [data-theme="dark"] .single-news-post.bg-gray .post-content .post-title:hover, [data-theme="dark"] .single-news-post.bg-gray .post-content .post-title:focus {
      color: #05a0f1; }
  [data-theme="dark"] .single-blog-info .post-catagory:hover, [data-theme="dark"] .single-blog-info .post-catagory:focus {
    background-color: #111; }
  [data-theme="dark"] .breadcrumb {background: none;}
  [data-theme="dark"] .single-blog-info .post-meta a {color: #bac0c7;}
  [data-theme="dark"] .blog-description p em strong, [data-theme="dark"] .blog-description p strong em {background: #1a1a1a; color: #797494}
  [data-theme="dark"] .blog-description p em strong a, [data-theme="dark"] .blog-description p strong em a {color: #24caeb !important;}
  [data-theme="dark"] .blog-description a {color: #24caeb !important};
  [data-theme="dark"] .modal-content {background-color: #333; }
  [data-theme="dark"] .user-meta-data .user-content h6 {color: #fff; }
  [data-theme="dark"] .profile-settings-option a {
    color: #020b10; }
    [data-theme="dark"] .profile-settings-option a:hover, [data-theme="dark"] .profile-settings-option a:focus {
      color: #ffffff; }
  [data-theme="dark"] .border,
  [data-theme="dark"] .border-left,
  [data-theme="dark"] .border-right,
  [data-theme="dark"] .border-bottom,
  [data-theme="dark"] .border-top {
    border-color: rgba(255, 255, 255, 0.175) !important; }
  [data-theme="dark"] .children-comments-list {
    border-left-color: rgba(255, 255, 255, 0.175); }
  [data-theme="dark"] #scrollIndicator {
    background-color: #05a0f1; }
  [data-theme="dark"] .spos-footer-nav ul li a::after {
    background-color: #05a0f1; }
  [data-theme="dark"] .single-comment-wrap .comment-meta .like-count a {
    color: #05a0f1;
    border-color: rgba(255, 255, 255, 0.175); }
    [data-theme="dark"] .single-comment-wrap .comment-meta .like-count a:hover, [data-theme="dark"] .single-comment-wrap .comment-meta .like-count a:focus {
      color: #ffffff;
      border-color: #ea4c62;
      background-color: #ea4c62; }
  [data-theme="dark"] .video-title {
    color: #020b10; }
  [data-theme="dark"] .search-post-wrapper h4 {
    color: #020b10; }
  [data-theme="dark"] .search-page-form .search-via-voice {
    color: #020b10; }
  [data-theme="dark"] .spos-v-card .bookmark-customize-option .dropdown-menu {
    background-color: #0C153B; }
  [data-theme="dark"] .spos-v-card .bookmark-customize-option .dropdown-menu .dropdown-item:hover, [data-theme="dark"] .spos-v-card .bookmark-customize-option .dropdown-menu .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.125); }
  [data-theme="dark"] .comment-sorting-option .btn {
    background-color: rgba(255, 255, 255, 0.125);
    color: #ffffff; }
  [data-theme="dark"] .comment-sorting-option .dropdown-menu {
    border-color: transparent;
    background-color: #282958; }
  [data-theme="dark"] .comment-sorting-option .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.7); }
    [data-theme="dark"] .comment-sorting-option .dropdown-menu .dropdown-item:hover, [data-theme="dark"] .comment-sorting-option .dropdown-menu .dropdown-item:focus {
      background-color: rgba(255, 255, 255, 0.125); }
  [data-theme="dark"] .comment-form textarea {
    background-color: rgba(255, 255, 255, 0.175);
    color: #ffffff; }
  [data-theme="dark"] .change-password-card .form-control {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
    [data-theme="dark"] .change-password-card .form-control:focus {
      border-color: #05a0f1; }
  [data-theme="dark"] .login-wrapper {
    background-color: #0C153B; }
  [data-theme="dark"] .login-wrapper .login-shape2 img {
    opacity: 0.15; }
  [data-theme="dark"] .login-wrapper .login-shape img {
    opacity: 0.15; }
  [data-theme="dark"] .register-form .form-control {
    border-color: rgba(255, 255, 255, 0.175);
    background-color: rgba(255, 255, 255, 0.175);
    color: #ffffff; }
    [data-theme="dark"] .register-form .form-control:focus {
      border-color: #05a0f1; }
  [data-theme="dark"] .register-form form > .form-group > label {
    color: #05a0f1; }
  [data-theme="dark"] .login-meta-data a:hover, [data-theme="dark"] .login-meta-data a:focus {
    color: #05a0f1; }
  [data-theme="dark"] .single-settings .title i {
    color: #ffffff; }
  [data-theme="dark"] .form-control {
    border-color: rgba(255, 255, 255, 0.125);
    background-color: rgba(255, 255, 255, 0.125);
    color: #ffffff; }
  [data-theme="dark"] .accordion .card .btn {
    color: #ffffff; }
  [data-theme="dark"] .custom-select option {
    background-color: #0C153B; }
  [data-theme="dark"] .list-unstyled {
    border-color: rgba(255, 255, 255, 0.125); }
  [data-theme="dark"] .modal-header {
    border-bottom-color: rgba(255, 255, 255, 0.125); }
  [data-theme="dark"] .modal-footer {
    border-top-color: rgba(255, 255, 255, 0.125); }
  [data-theme="dark"] .close {
    color: #ffffff; }
  [data-theme="dark"] .pagination .page-link {
    color: #ffffff;
    border-color: #282958;
    background-color: #282958; }
    [data-theme="dark"] .pagination .page-link:hover, [data-theme="dark"] .pagination .page-link:focus {
      color: #05a0f1; }
  [data-theme="dark"] .search-page-form form input {
    background-color: #bac0c7;
    color: #020b10; }
  [data-theme="dark"] .sidenav-wrapper {
    background-color: #0C153B; }
  [data-theme="dark"] .time-date-weather-wrapper::before {
    background: -webkit-linear-gradient(top, rgba(12, 21, 59, 0.25) 0%, rgba(12, 21, 59, 0.75) 50%, #0c153b 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 21, 59, 0.25)), color-stop(50%, rgba(12, 21, 59, 0.75)), color-stop(100%, #0c153b));
    background: -o-linear-gradient(top, rgba(12, 21, 59, 0.25) 0%, rgba(12, 21, 59, 0.75) 50%, #0c153b 100%);
    background: linear-gradient(to bottom, rgba(12, 21, 59, 0.25) 0%, rgba(12, 21, 59, 0.75) 50%, #0c153b 100%); }
  [data-theme="dark"] .time-date-weather-wrapper .weather-update p {
    color: #ffffff; }
  [data-theme="dark"] .time-date-weather-wrapper .time-date #dashboardDate,
  [data-theme="dark"] .time-date-weather-wrapper .time-date .running-time {
    color: #05a0f1; }
  [data-theme="dark"] .sidenav-nav li a {
    color: rgba(255, 255, 255, 0.7); }
    [data-theme="dark"] .sidenav-nav li a:hover, [data-theme="dark"] .sidenav-nav li a:focus {
      color: #05a0f1; }
  [data-theme="dark"] .single-blog-info {
    background-color: #111; }
  [data-theme="dark"] .alert-dismissible .close {
    color: #020b10; }
  [data-theme="dark"] .profile-content-wrapper {background: #222;}
  [data-theme="dark"] .user-meta-data .user-content .user-meta-data p span {color: #bac0c7;}
  [data-theme="dark"] .single-blog-info .post-like-wrap {background: #222;}
  [data-theme="dark"] .topik ul li {color: #797494;border-bottom: 1px solid #333 }
  [data-theme="dark"] .topik ul li a {color: #bac0c7;} 
  [data-theme="dark"] blockquote {border-left: 3px solid #797494; color: #bac0c7;}
  [data-theme="dark"] .footer{border-top:1px solid #111;background:#000;}
  [data-theme="dark"] .footer__copyright {background: #121212;}
  [data-theme="dark"] .popular-tags-list a {background: #2d2d2d;}
  [data-theme="dark"] .item-slides .item, [data-theme="dark"] .subscribe {background: none;}
  [data-theme="dark"] .item-slides .item .item-caption .link-title {color: #bac0c7;}
  
.promosi {margin-bottom: 30px; height: 125px; overflow: hidden;}
.topik {padding: 10px 10px 20px;}
.topik ul {margin-left: 25px;}
.topik ul li {padding-bottom:10px; border-bottom: 1px solid #eee; font-size: 15px;line-height: 15px; margin-bottom: 5px;}
.topik ul li a {color: #020b10;font-size: 15px;font-weight: 600;text-transform: capitalize;text-decoration: none;line-height: 20px}
.topik .topik-title {position: absolute;top: -20px;left: 15px;background: #fff;padding: 2px 7px;font-size: 17px;}

.topik ul li span {position: absolute; left: 15px;font-size:30px;font-style: italic; font-weight: 600;color: #9a9a9a;margin-top: 11px; font-family: arial;}

.iklan {width:100%;height:auto;text-align:center;}

@keyframes fade-in-up {
   0% {
     opacity: 0;
  }
   100% {
     transform: translateY(0);
     opacity: 1;
  }
}

.video iframe {
   max-width: 100%;
   max-height: 100%;
}

.video.stuck {
   position: fixed;
   bottom: 55px;
   right: 10px;
   width: 260px;
   height: 145px;
   transform: translateY(100%);
   animation: fade-in-up 0.75s ease forwards;
  z-index: 99;
}

.loadmore-frame .content-box {
  display:none;
  /*padding: .5rem;*/
} 

/*#izooto-optin.izooto-optin--dialog-box .izooto-optin--branding-wrapper.izooto-optin--branding-wrapper-dialog-box {display: none;}
.container {padding-left: 10px !important; padding-right: 10px !important;}*/

#izooto-optin.izooto-optin--dialog-box .izooto-optin--branding-wrapper.izooto-optin--branding-wrapper-dialog-box {display: none;}

/*========================================
    STLYE WIDGET JELAJAHTOL 
=========================================*/

.jelajah-widget {
    background: #fff;
    width: 100%;
    height: 400px;
    padding: 0;
    margin-bottom: 20px;
    /*-webkit-box-shadow: 0px 1px 1px 1px rgba(230,230,230,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(230,230,230,1);
    box-shadow: 0px 1px 1px 1px rgba(230,230,230,1);*/
}
.jelajah-widget h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-family: arial;
}
.powered {
    font-size: x-small;
    color: #666;
}
.jelajah-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*border: solid 1px #FFA500;*/
    max-height: 325px;
    overflow-y: scroll;
    overflow-x: hidden;        
}
.jelajah-widget ul li {
    list-style: none;
    /*margin-bottom: 10px;*/
    display: block;
    color: blue;
    font-weight: bold;
    font-family: arial;
    border-bottom: solid 1px rgb(253, 194, 86);
    padding: 10px;
    line-height: 17px;
}
.jelajah-widget ul li:last-child {
    border: none;
}
.jelajah-widget ul li a {
    text-decoration: none;
    color: blue;
    font-size: 12px;
}
.jelajah-widget ul li a:hover {
    text-decoration: none;
    color: #FFA500;     
}
.jelajah-widget ul li img {
    width: 80px;
    height: 60px;
    float: left;
    margin-right: 10px;
    vertical-align: center;
}
.jelajah-widget-title {
    height: 60px;
    background: #FFA500;
}
.jelajah-widget-title img {
    height: 50px;
    padding: 5px 20px;
    float: left;
}
.jelajah-copy {
    /*border: solid 1px #FFA500;*/
    border-top: none;
}   

.item-wrapper {
  margin: 0 -15px;
  padding-bottom: 0;
  overflow-x: auto;
}        
.item-slides {width: calc(100% + 2rem);white-space: nowrap;padding-bottom: 15px;/*overflow-x: scroll;*/} 
.item-slides .item:first-of-type {margin-left:15px;}
.item-slides .item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  max-width: 195px;
  margin: 0 10px;
}   
.item-slides .item .item-thumbnail {
  display: block;
  overflow: hidden;
  text-align: center;
  background-color: #E0E0E0;
  border-radius: 8px;
  width: 195px;height: 115px;         
}
/* .item-slides .item .item-thumbnail img{width: 212px;height: 115px;} */
.item-slides .item .item-caption {
  margin-top: 10px;
}
.item-slides .item .item-caption .link-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    line-height: 17px;
    color: rgba(0,0,0,.8);
    height: 4em;
}  
.breadcrumb {display: inline-block;border-radius: 0;background: #fff;padding: 0.3rem 0;margin: 1rem 0 0.5rem 0;}
.breadcrumb-item {display: inline-block;}
.breadcrumb-item+.breadcrumb-item {padding-left: .3rem;}
.breadcrumb-item+.breadcrumb-item::before {font-size: 11px;padding-right: .3rem;color: #167ac6;}

.premium-post {
  position: absolute;
  z-index: 99;
  top: 0.3rem;
  left: 0.3rem;
  color: #fff;
  font-size: 0.7rem !important;
  border-radius: 5px;
  text-align: center;
  background-color: #28a745;
  padding: 1px 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.espos-plus {position:relative; display:inline-block;color:#fff;background:#00a857/*#00a857 #05abd9*/;padding: 0 5px!important;font-size: 10px;font-weight: 500;border-radius: 3px;height: 16px;line-height: 16px;float: left;margin-right: 5px;}

hr {
  background-color: #e7e7e7;
  border: 0;
  height: 1px;
  margin: 40px 0;
}

hr.dashed {
  border-top: 2px dashed #999;
}

hr.dotted {
  border-top: 2px dotted #999;
}

hr.solid {
  border-top: 2px solid #999;
}


hr.hr-text {
  position: relative;
  border: none;
  height: 1px;
  background: #00437d;
  margin : 30px 0 !important;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #00437d;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

ol.harjo-widget {
  margin: 0 0 0 5px;
  padding: 0;
  color: grey;
}
ol.harjo-widget li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

ul.harjo-widget {
  margin: 0 0 0 5px;
  padding: 0;
  color: grey;
}
ul.harjo-widget li {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

/*News Live Timeline*/
div.item {
  /* display: flex; */
  /* flex: auto;
  overflow-y: auto; */
  padding: 0 !important;
  margin-bottom: 30px;
}

.timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.timeline p {
  letter-spacing: .64px;
  color: #00437d;
  line-height: 35px !important;
  font-weight: 800;
  font-size: 18px !important;
  text-transform: uppercase;
  border-bottom: 1px solid #00437d;
}
/* .timeline:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 4rem;
  bottom: 5rem;
  left: 60px;
  z-index: 1;
  background: #054ab1;
} */
.timeline h2 {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  color: #054ab1;
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 24px;
}

.timeline div.content {
  position: relative;
}
.timeline div.content:first-child div {
  
  padding-bottom: 0px;
}
.timeline div.content div {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
  color: #333;
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: -1.35rem 0 1em;
  font-size: 16px;      
}
.timeline div.content div h4 {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 10px 0 ;
  color: #054ab1;
}

.timeline div.content div {

}

.timeline div.content div:last-child {
  margin-bottom: 10px;
}
.timeline div.content div:first-of-type:before {
  content: "";
  width: 2px;
  position: absolute;
  top: 5px;
  bottom: -10px;
  left: 60px;
  z-index: 1;
  background: #054ab1;
}  
.timeline div.content div:first-of-type:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #054ab1;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 56px;
  top: 0.3rem;
  z-index: 2;
}
.timeline div.content div {
  /*margin-left: 10px;*/
}
.timeline div.content div:not(:first-child) {
  margin-bottom: 15px;
  
}
.timeline div.content div span.price {
  color: mediumturquoise;
  font-weight: 500;
}